section {
  display: grid;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

section > div {
  width: 85vw;
  max-width: 820px;
  display: flex;
  flex-direction:row;
  gap: 2rem;
  box-sizing: border-box;
}

section > div.overflow-x {
  overflow-x: scroll;
}


